<mat-card>
  <mat-card-header>
    User general data
  </mat-card-header>
  <mat-card-content>
    <div class="wrapper">
      <div class="data">
        <span>
          <strong>First Name:</strong>
        </span>
        <span>
          {{detailsData?.FirstName}}
        </span>
      </div>
      <div class="data">
        <span>
          <strong>Last Name:</strong>
        </span>
        <span>
          {{detailsData?.LastName}}
        </span>
      </div>
    </div>
    <div class="wrapper">
      <div class="data">
        <span>
          <strong>Full Name:</strong>
        </span>
        <span>
          {{detailsData?.FullName}}
        </span>
      </div>
      <div class="data">
        <span>
          <strong>Email:</strong>
        </span>
        <span>
          {{detailsData?.Email}}
        </span>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header class="absence-header">
    <span>Manage absences</span>
    <button (click)="addAbsence()" mat-flat-button color="primary"><mat-icon>add</mat-icon> Add absence</button>
  </mat-card-header>
  <mat-card-content>
    <app-universal-datatable [enablePaging]="true" [displayedColumns]="columns" [tableData]="tableData"></app-universal-datatable>
  </mat-card-content>
</mat-card>
