:host {
  margin: 1rem;

  mat-card {
    mat-card-header {
      height: 40px;
      background-color: lightgray;
    }

    mat-card-content {
      margin-top: 1rem;

      form {
        width: 100%;
        display: flex;
        justify-content: space-between;

        mat-form-field {
          width: 40%;
        }
      }
    }

    mat-card-actions {
      button {
        margin: 0.5rem;
      }
    }
  }
}
